<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Poppins:wght@300;400;500&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
  </head>
  <body>
    <h1>Sky8ive Coders</h1>
    <div class="card-container">
      <div class="card">
        <div class="content">
          <div class="back">
            <div class="back-content">
              <img
                src="{{ url_for('static', filename='images/sky8ive_coders/deva.jpg') }}"
                class="rounded-img"
              />
              <h2>Devapriyan P</h2>
              <p>Dept: CSE | Year: III</p>
            </div>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="content">
          <div class="back">
            <div class="back-content">
              <img
                src="{{ url_for('static', filename='images/sky8ive_coders/nandhita.jpg') }}"
                class="rounded-img"
              />
              <h2>Nandhitha SPP</h2>
              <p>Dept: CSE | Year: III</p>
            </div>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="content">
          <div class="back">
            <div class="back-content">
              <img
                src="{{ url_for('static', filename='images/sky8ive_coders/winston.jpg') }}"
                class="rounded-img"
              />
              <h2>Winston S</h2>
              <p>Dept: CSE | Year: III</p>
            </div>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="content">
          <div class="back">
            <div class="back-content">
              <img
                src="{{ url_for('static', filename='images/sky8ive_coders/ajay.jpg') }}"
                class="rounded-img"
              />
              <h2>Ajay D</h2>
              <p>Dept: MECH | Year: I</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <h2 style="margin-top: 30px">Abstract</h2>
    <p class="abstract-text">
      Mentaura is an AI-powered chatbot designed to provide compassionate mental
      health support. Acting as a virtual friend, it offers encouragement,
      guidance, and sentiment analysis through emoji-based emotion ratings.
      Mentaura detects emotional patterns, integrates with crisis services and
      therapists, and supports multilingual accessibility. Gamified features
      like achievements, daily challenges, and mood tracking keep users engaged.
      With cutting-edge technology, it delivers an interactive, user-friendly
      experience, bridging the gap between technology and mental health to
      foster healing and well-being.
    </p>
  </body>
</html>
