<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Poppins:wght@300;400;500&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
  </head>
  <body>
    <h1>Tech Spryzen</h1>
    <div class="card-container">
      <div class="card">
        <div class="content">
          <div class="back">
            <div class="back-content">
              <img
                src="{{ url_for('static', filename='images/tech_spryzen/yuth.jpg') }}"
                class="rounded-img"
              />
              <h2>YUTHIKA M</h2>
              <p>Dept: IT | Year: II</p>
            </div>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="content">
          <div class="back">
            <div class="back-content">
              <img
                src="{{ url_for('static', filename='images/tech_spryzen/vasu.jpg') }}"
                class="rounded-img"
              />
              <h2>VASUNDARA S</h2>
              <p>Dept: IT | Year: II</p>
            </div>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="content">
          <div class="back">
            <div class="back-content">
              <img
                src="{{ url_for('static', filename='images/tech_spryzen/saha.jpg') }}"
                class="rounded-img"
              />
              <h2>SAHANA M</h2>
              <p>Dept: IT | Year: II</p>
            </div>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="content">
          <div class="back">
            <div class="back-content">
              <img
                src="{{ url_for('static', filename='images/tech_spryzen/divya.jpg') }}"
                class="rounded-img"
              />
              <h2>DHIVYA DHARSHINI S</h2>
              <p>Dept: MECH | Year: I</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <h2 style="margin-top: 30px">Abstract</h2>
    <p class="abstract-text">
      Our project enhances gaming by integrating AI and AR to create immersive,
      interactive experiences. AI-driven NPCs, powered by reinforcement learning
      and neural networks, adapt in real-time for dynamic gameplay. AR
      technology, using spatial mapping and tools like ARCore or ARKit, blends
      virtual and real-world elements seamlessly. Procedural generation
      customizes game levels based on player performance, while real-time
      analytics refine gameplay. Built with Unity and AI frameworks like
      TensorFlow and PyTorch, this project redefines interactive entertainment
      through realism, personalization, and innovation.
    </p>
  </body>
</html>
